<div id="contenedorDetallesPersona">
    <div class="row">
        <div class="right-align col s5">Codigo:</div><div class="col s5 offset-s1" data-persona="codigo"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">DNI:</div><div class="col s5 offset-s1" data-persona="DNI"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Nombre:</div><div class="col s5 offset-s1" data-persona="nombre"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">1º Apellido:</div><div class="col s5 offset-s1" data-persona="apellido1"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">2º Apellido:</div><div class="col s5 offset-s1" data-persona="apellido2"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Perfil:</div><div class="col s5 offset-s1" data-persona="perfil"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Foto:</div><div class="col s5 offset-s1" data-persona="foto">
            <img class="foto" alt="Foto">
        </div>
    </div>
    <div class="row">
        <div class="right-align col s5">Sexo:</div><div class="col s5 offset-s1" data-persona="sexo"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Fecha nacimiento:</div><div class="col s5 offset-s1" data-persona="fecha_nac"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Dirección:</div><div class="col s5 offset-s1" data-persona="direccion"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Municipio:</div><div class="col s5 offset-s1" data-persona="municipio"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Pais:</div><div class="col s5 offset-s1" data-persona="pais"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Fecha alta:</div><div class="col s5 offset-s1" data-persona="fecha_alta"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Fecha baja:</div><div class="col s5 offset-s1" data-persona="fecha_baja"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">N seguridad Social:</div><div class="col s5 offset-s1" data-persona="n_Seguridad_Social"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">N cuenta bancaria:</div><div class="col s5 offset-s1" data-persona="n_Cuenta_Bancaria"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Email:</div><div class="col s5 offset-s1" data-persona="email"></div>
    </div>
    {#<div class="row">
        <div class="right-align col s5">Password:</div><div class="col s5 offset-s1" data-persona="password"></div>
    </div>#}
    <div class="row">
        <div class="right-align col s5">Perfil Usuario:</div><div class="col s5 offset-s1" data-persona="perfil_usuario"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Observación:</div><div class="col s5 offset-s1" data-persona="observaciones"></div>
    </div>
</div>
