{% extends 'base.html.twig' %}
{% block contenido %}
    <div class="text-center">
        <div id="divMensaje"></div>
    </div>
    <div id="contenedorTabla">
        {% include "tablaActividades.html.twig" %}
    </div>

    <!-- Modal Structure -->
    <div id="modalActividad" class="modal">
        <div class="modal-content">
            {% include "detallesActividad.html.twig" %}
        </div>
        <div class="modal-footer no-overflow">
            <input class="waves-effect waves-light btn modal-action modal-close" type="button" value="Cerrar">
            {#            <input class="waves-effect waves-light btn" id="nuevaActividad" type="submit" form="formularioActividad" value="Registrar actividad">#}
            {#            <input class="waves-effect waves-light btn" id="modificarActividad" form="formularioActividad" type="button" value="Guardad cambios">#}
            {% if email != null %}
                <input class="waves-effect waves-light btn" id="suscribirseActividad" form="formularioActividad" type="button" value="Suscribirse a la actividad">
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="/public/asset/js/actividades.js"></script>
{% endblock %}  