<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BIN</title>
        <link rel="stylesheet" href="/public/asset/css/style.css">
        <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="home">
        <div class="container">
            <header>
                <nav id="menuPrincipal" class="contenedorMenu menu">
                    <ul class="flex-container flex-row">
                        <li class="flex-item"><a href="#">Asociación Bin</a></li>
                    </ul>
                    <ul class="flex-container flex-row right">
                        <li class="flex-item"><a href="/Controller/partePublica/home.php">Inicio</a></li>
                        <li class="flex-item"><a href="/Controller/partePublica/actividades.php">Actividades</a></li>
                        <li class="flex-item"><a href="/Controller/partePublica/formulario_login.php">Iniciar Sesión</a></li>
                    </ul>
                </nav>

                <nav id="menuMovil" class="menu">
                    <ul class="flex-container flex-row fa-2x">
                        <li class="flex-item"><a href="#" id="btnResponsive"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>

                <div id="submenuMovil" class="colorMenu">
                    <nav class="menu">
                        <ul>
                            <li><a href="http://asociacionbin.es/es/">Asociación Bin</a></li>
                            <li><a href="/Controller/partePublica/home.php">Inicio</a></li>
                            <li><a href="/Controller/partePublica/actividades.php">Actividades</a></li>
                            <li><a href="/Controller/partePublica/formulario_login.php">Iniciar Sesión</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <main>
                <section class="contenidoPrincipal">
                    <img class="logo" src="/public/asset/img/logo_BIN_02.png">
                    <p>Somos un grupo de padres, madres, docentes y educadores/as de Málaga.
                        Nos constituimos en asociación sin ánimo de lucro en 2014 con el fin
                        de promover el bienestar del ser humano a todos los niveles, cuerpo,
                        mente y espíritu. Por eso llamamos a la asociación BIN, Bienestar 
                        Integral de las Personas.</p>

                    <p>Pensamos que nuestro mundo tiene cosas buenas que debemos preservar 
                        entre todos y otras no tan buenas que podemos mejorar entre todos. 
                        Queremos aportar nuestro granito de arena en que sea un poquito mejor
                        para todos. Queremos ser parte activa del cambio. Porque nuestro mundo
                        lo hacemos nosotros.</p>
                </section>
            </main>

            <footer class="footer">
                <div class="piePagina">
                    <div class="contenedorLista enlaces">
                        <ul class="listaPiePagina">
                            <li>Mapa web</li>
                            <li><a href="http://asociacionbin.es/es/">Asociación Bin</a></li>
                            <li><a href="/Controller/partePublica/home.php">Inicio</a></li>
                            <li><a href="/Controller/partePublica/actividades.php">Actividades</a></li>
                            <li><a href="/Controller/partePublica/formulario_login.php">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                    <div class="contenedorLista social">
                        <ul class="listaPiePagina">
                            <li>Siguenos</li>
                            <li>
                                <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">© Copyright 2016 Asociación BIN</div>
            </footer>
        </div>
        <div class="overlay"></div>
        <script src="/public/lib/jquery/jquery.min.js"></script>
        <script src="/public/asset/js/home.js"></script>
    </body>
</html>
