{% extends 'panelPrincipalBase.html.twig' %}
{% block contenidoPanel %}
    <h4>Bienvenido {{ email }} al panel de Administración</h4>
    <script type="text/javascript" src="/public/asset/js/panerPrincipal.js"></script>
{% endblock %}