<div id="contenedorDetallesActividad">
    <div class="row">
        <div class="right-align col s5">Codigo:</div><div class="col s5 offset-s1" data-actividad="codigo_actividad"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Titulo:</div><div class="col s5 offset-s1" data-actividad="titulo"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Estado:</div><div class="col s5 offset-s1" data-actividad="estado"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Coordinador:</div><div class="col s5 offset-s1" data-actividad="coordinador"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Ponente:</div><div class="col s5 offset-s1" data-actividad="ponente"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Ubicacion:</div><div class="col s5 offset-s1" data-actividad="ubicacion"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Fecha inicio:</div><div class="col s5 offset-s1" data-actividad="fecha_inicio"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Fecha fin:</div><div class="col s5 offset-s1" data-actividad="fecha_fin"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Horario inicio:</div><div class="col s5 offset-s1" data-actividad="horario_inicio"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Horario fin:</div><div class="col s5 offset-s1" data-actividad="horario_fin"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">N total horas:</div><div class="col s5 offset-s1" data-actividad="n_Total_Horas"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Precio:</div><div class="col s5 offset-s1" data-actividad="precio"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">IVA:</div><div class="col s5 offset-s1" data-actividad="IVA"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Descriptor:</div><div class="col s5 offset-s1" data-actividad="descriptor"></div>
    </div>
    <div class="row">
        <div class="right-align col s5">Observaciones:</div><div class="col s5 offset-s1" data-actividad="observaciones"></div>
    </div>
</div>